*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif; }

.heading-1 {
  font-weight: 300;
  font-size: 3rem; }

.u-bold {
  font-weight: 700; }

.header {
  height: 95vh;
  background-image: url(../img/background1.jpg);
  background-size: cover;
  background-position: center;
  padding: 5rem 8rem; }
  .header__content {
    width: 30%; }

.nav {
  display: flex;
  justify-content: space-between; }
  .nav__logo {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    color: #FF69A0; }
  .nav__navigation {
    display: flex;
    list-style: none; }
  .nav__link:link, .nav__link:visited {
    color: #4A4A4A;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    color: #FF69A0; }
  .nav__link--outline:link, .nav__link--outline:visited {
    padding: 1rem 2rem;
    border: 1px solid #4A4A4A;
    border-radius: .5rem; }
  .nav__link--outline:hover, .nav__link--outline:active {
    border: 1px solid #FF69A0; }
  .nav li:not(:last-child) {
    margin-right: 4rem; }
