// COLORS
$color-primary: #FF69A0;
$color-primary-light: #FF9CC2;
$color-grey-light: #EDEDED;
$color-grey-dark: #4A4A4A;

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.heading-1 {
    font-weight: 400;
    font-size: 3.8rem;
}

.u-bold {
    font-weight: 700;
}