.footer {
    color: #fff;
    background-color: $color-blue;
    margin-top: 7rem;
    padding: 35rem 12rem 5rem 12rem;

    &__container {
        display: flex;
        justify-content: center;

        &>*:not(:last-child) {
            margin-right: 10rem;
        }
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 300;

        &--logo {
            margin-top: 2.5rem;
            line-height: 2.5rem;
        }
    }

    &__link {
        display: block;
        font-size: 1.4rem;
        font-weight: 300;
        color: #fff;
        text-decoration: none;

        &:hover,
        &:active {
            color: $color-primary;
        }

        &--small {
            font-size: 1.3rem;
            display: inline-block;

            &:not(:last-child) {
                margin-right: 3rem;
            }
        }

        &:not(:last-child){
            margin-bottom: .8rem;
        }
    }

    &__heading {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__logo {
        max-width: 20%;

        &--link:link,
        &--link:visited {
            color: #fff;
            text-decoration: none;
            font-size: 1.7rem;
            letter-spacing: 1.3rem;
            font-weight: 700;
        }
    }

    &__separator {
        margin: 7.5rem;
        opacity: .5;
        height: .5px;
    }

    &__misc {
        display: flex;
        justify-content: center;

        &>*:not(:last-child) {
            margin-right: 7rem;
        }
    }

    &__reserved {
        font-size: 1.3rem;
        font-weight: 300;
    }
}