.price {
    background-color: #FBFBFB;
    margin-top: 5rem;
    padding: 5rem 8rem;
    text-align: center;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {
        margin-top: 2rem;
        font-size: 1.6rem;
    }

    &__payment {
        width: 24%;
        margin: 4rem auto;
        display: flex;
        justify-content: center;
        background-color: $color-grey-light;
    }

    &__link:link,
    &__link:visited {
        display: inline-block;
        text-decoration: none;
        padding: 2rem 3rem;
        color: $color-grey-dark;
        font-size: 1.6rem;
        text-align: center;
    }

    &__link:hover,
    &__link:active {
        background-color: $color-primary;
    }
}

.card {
    width: 30%;
    background-color: #fff;
    padding: 5rem 7rem;
    box-shadow: 0rem 1rem 2rem rgba(0,0,0,.2);
    transition: all .2s;

    &:hover {
        padding: 9rem 7rem;
        box-shadow: 0rem 1rem 2rem rgba(0,0,0,.4);
    }

    &__heading {
        font-size: 2rem;
        margin-bottom: 4rem;
    }

    &__price {
        font-size: 3rem;
    }

    &__text {
        margin: 4rem 0;
        font-size: 1.5rem;
    }

    &__btn {
        outline: none;
        color: $color-primary;
        border: none;
        padding: 2rem 3rem;
        border: solid 2px $color-primary;
        border-radius: .5rem;
        background-color: transparent;
        background-image: linear-gradient(to right, transparent 0, transparent 50%, $color-primary-light 50%, $color-primary 100%);
        background-size: 220%;
        transition: all .3s;
    }

    &__btn:hover {
        color: #fff;
        border: solid 2px $color-primary;
        background-position: 100%;
    }

    &__btn:active {
        transform: translateY(3px);
        box-shadow: 0 2rem 4rem rgba(0,0,0, .2);
    }
}